/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
  line-height: 1.2;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Chakra Petch', sans-serif;

  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;


}

p,
.paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Chakra Petch', sans-serif;
}

p-lg,
.paragraph-lg {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: 'Chakra Petch', sans-serif !important;
  /* font-family: "Roboto", sans-serif; */

  line-height: 1.2;
}

h1,
.h1 {
  font-size: 80px;
}

@media (max-width: 991px) {

  h1,
  .h1 {
    font-size: 45px;
  }
}

h2,
.h2 {
  font-size: 60px;
}

@media (max-width: 991px) {

  h2,
  .h2 {
    font-size: 50px;
  }
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  /* font-size: 14px; */
  font-size: 20px;
}

/* Button style */
.btn {
  font-size: 15px;
  font-family: 'Chakra Petch', sans-serif !important;
  /* font-family: 'Chakra Petch', sans-serif; */

  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #BAB86C;
  color: rgb(0, 0, 0);
}

.btn-primary:active {
  background: #0f0f10 !important;
  color: white;
}

.btn-primary:hover {
  background: #0f0f10;
  color: white;
}

.btn-primary.focus,
.btn-primary.active {
  background: #0f0f10 !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: #396b46;
  font-weight: bold;
}

.btn-transparent:active,
.btn-transparent:hover {
  color: #396b46;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #0f0f10;
  color: #fff;
}

::selection {
  background: #0f0f10;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #396b46 !important;
}

a:hover {
  color: #396b46;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* .section-title {
  margin-bottom: 80px;
  font-family: 'Chakra Petch', sans-serif !important;
  font-family: 'Chakra Petch', sans-serif;

} */


.section-title {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Chakra Petch', sans-serif !important;
}

@media (max-width: 767px) {
  .h2 {
    font-size: 22px;
  }
}



.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #000000;
}

/* .section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #000000;
  display: inline-block;
} */

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #0c0c0c !important;
  /* background: #191a1f !important; */

}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #396b46 !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  /* font-family: 'Chakra Petch', sans-serif !important !important; */
  font-family: 'Chakra Petch', sans-serif !important;
}

.font-tertiary {
  /* font-family: 'Chakra Petch', sans-serif !important !important; */
  font-family: 'Chakra Petch', sans-serif !important;

}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 2px;
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}

.slick-dots li button {
  height: 6px;
  width: 12px;

  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}

.form-control:focus {
  border-color: #396b46;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}

.card-header {
  border: 0;
}

.card-footer {
  border: 0;
}

/* /card */
.navigation {
  padding: 8px 110px;
  transition: 0.3s ease;
}

.navigation.nav-bg {
  background-color: #000000;
  padding: 0px 100px;
}

@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 6px 20px;
  }
}

@media (max-width: 991px) {
  .navigation {
    padding: 8px;
    background: #000000;
  }
}

.navbar .nav-item .nav-link {
  /* font-family: 'Chakra Petch', sans-serif !important; */
  font-family: 'Chakra Petch', sans-serif !important;
  text-transform: uppercase;
  padding: 10px 50px 20px 10px;
  font-size: 18px;
}

.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.hero-area {
  padding: 90px 0 10px;
  /* position: ab; */
}

@media (max-width: 767px) {
  .hero-area {
    padding: 20px 0 2px;
    overflow: hidden;
  }
}

.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
  animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: 0.3s ease;
}

.hover-bg-primary:hover {
  background: #396b46;
}

.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: 0.3s ease;
  background: #396b46;
}

.active-bg-primary * {
  color: #fff;
}

.active-bg-tr {
  transition: 0.3s ease;
  background: #1d2124;
}

.active-bg-tr * {
  color: #1d2124;
}

.hover-shadow {
  transition: 0.2s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}

.hover-wrapper img {
  transition: 0.3s ease;
  transform: scale(1.1);
}

.hover-wrapper:hover img {
  transform: scale(1);
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 20px 25px;
  background: #eaeaea;
  border-left: 3px solid #396b46;
  font-style: italic;
  font-size: 22px;
  line-height: 1.7;
}

.content * {
  margin-bottom: 20px;
}

.content strong {
  /* font-family: 'Chakra Petch', sans-serif !important; */
  font-family: 'Chakra Petch', sans-serif !important;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  /* padding: 350px 0 70px; */
  padding: 350px 0 70px;

}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -100px;
}

@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg);
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  /* padding: 250px 0 150px; */
  /* padding: 100px 0 86px; */
  padding: 79px 0 50px;


}

.page-title .container {
  position: relative;
  z-index: 1;
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg);
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

@media (max-width: 1200px) {
  .page-title .bg-shape-7 {
    right: 0;
  }
}

.filter-controls li {
  cursor: pointer;
}

.filter-controls li.active {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */



/* Scroll to top */
a.vanillatop {
  background-color: #000000;
  border-radius: 50%;
  bottom: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  display: block;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  transform: translateX(120px);
  transition: 1s all;
  width: 40px;
  z-index: 9999
}

a.vanillatop::before {
  color: #fff;
  content: "▲";
  font-size: 120%
}

a.vanillatop:link {
  text-decoration: none
}

a.vanillatop:hover {
  background-color: #000000;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2)
}

@media only screen and (min-width: 768px) {
  a.vanillatop {
    bottom: 20px;
    right: 20px
  }
}

@media only screen and (min-width: 1024px) {
  a.vanillatop {
    bottom: 30px;
    height: 50px;
    line-height: 50px;
    right: 30px;
    width: 50px
  }
}


/* Side Bar */
.icon-bar {
  position: fixed;
  top: 80%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 13px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
  height: 55px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: rgb(201, 193, 193);
}

.phone {
  background: #0c60dd;
  color: white;
  border-radius: 25px;
}

.whatsapp {
  background: #0dd828;
  color: white;
  border-radius: 25px;

}



/* modal */


.modal-dialog {
  max-width: 450px;
}

.modal-content {
  border: none;
  position: relative;
  padding: 0 !important;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.modal-content .modal-header {
  position: relative;
  padding: 0;
  border: none;
}

.modal-content button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  color: #e99c02;
  ;
  font-size: 14px;
}

.modal-content .modal-body {
  border: none;
}

.modal-content .modal-footer {
  border: none;
  background: #f8f8f8;
}


.logo {
  width: 50px;
  height: 50px;
}

.row-leadership {
  display: flex;
  justify-content: right;
}


/* Social2 */

.social2 {
  margin-top: 10px;
  position: relative;
  z-index: 8;
}

@media only screen and (min-width: 768px) {
  .social2 {
    margin-top: 50px;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .social2 {
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }
}

/* For Text Mobile */

.new1 {
  font-size: 10px;
}


@media only screen and (min-width: 768px) {
  .new1 {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .new1 {
    font-size: 22px;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #f1f7fd;
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 20px 25px 5px;
  width: 100%;
  height: 85%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #0d0d0e;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #082744;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  /* font-family: Hind, sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}



/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #1f2020;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 1.02rem;
  line-height: 25px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}

/*  */

.product-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.product-item img {
  transition: 0.3s ease;
}

.product-item .tag {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 9;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.product-item .tag.on-sale-tag {
  background: #e82d2d;
  -webkit-clip-path: polygon(100% 0, 89% 50%, 100% 100%, 0% 100%, 0 51%, 0% 0%);
  clip-path: polygon(100% 0, 89% 50%, 100% 100%, 0% 100%, 0 51%, 0% 0%);
}

.product-item .tag.discount-tag {
  background: #363636;
}

.product-item:hover .product-overlay {
  transform: scale(1);
}

.product-item:hover img {
  transform: scale(1.3);
}

@media (max-width: 575px) {
  .product-item:hover .product-overlay {
    transform: scale(0);
  }

  .product-item:hover img {
    transform: scale(1);
  }
}

.product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}

.product-info {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}

.product-info h4.product-name {
  position: relative;
  margin-bottom: 20px;
}

.product-info h4.product-name::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  background: #363636;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

.product-info h4.new-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-info s {
  font-size: 15px;
  color: #808080;
}

.product-info-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

@media (max-width: 575px) {
  .product-info-mobile {
    display: flex;
  }
}

.product-info-mobile s,
.product-info-mobile p {
  color: #808080;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
}

.product-info-mobile p {
  color: #3b3b3b;
  margin-right: 10px;
}


/* portfolio */

/* Rounded border */
hr.rounded {
  border-top: 1px solid rgb(255, 255, 255);
  border-radius: 1px;
}

.site-section {
  padding: 2em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 4em 0;
  }
}

.site-section.site-section-sm {
  padding: 2em 0;
}

/*  */
/* ***************************************************** */
@media (max-width: 300px) {
  #mobile {
    /* background-color: red; */
    content: url("/images/backgrounds/04.webp");
    /* height: 560px; */
    height:470px;
    margin-top: 15%;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  #mobile {
    /* background-color: blue; */
    content: url("/images/backgrounds/04.webp");
    height:470px;
    margin-top: 15%;

  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #mobile {
    /* background-color: yellow; */
    content: url("/images/backgrounds/032.webp");
  }
}

@media (min-width: 769px) {
  #mobile {
    /* background-color: green; */
    content: url("/images/backgrounds/032.webp");

  }
}

@media (max-width: 300px) {
  #mobile2 {
    /* background-color: red; */
    content: url("/images/backgrounds/04.webp");
    height:470px;
    margin-top: 15%;

  }
}

@media (min-width: 301px) and (max-width: 600px) {
  #mobile2 {
    /* background-color: blue; */
    content: url("/images/backgrounds/04.webp");
    height:470px;
    margin-top: 15%;


  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #mobile3 {
    content: url("/images/backgrounds/04.webp");
  }
}

@media (min-width: 769px) {
  #mobile3 {
    content: url("/images/backgrounds/04.webp");
  }
}


/* Projects area
================================================== */
/* Project filter nav */
.shuffle-btn-group {
  display: inline-block;
  margin: 20px 0 50px;
  width: 100%;
  border-bottom: 3px solid #BAB86C;
}

.shuffle-btn-group label {
  display: inline-block;
  color: #212121;
  font-size: 14px;
  padding: 6px 25px;
  padding-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0;
}

.shuffle-btn-group label.active {
  color: #212121;
  background: #ffb600;
}

.shuffle-btn-group label input {
  display: none;
}

/* Project shuffle Item */
.shuffle-item {
  padding: 0;
}

.shuffle-item .project-img-container {
  position: relative;
  overflow: hidden;
}

.shuffle-item .project-img-container img {
  transform: perspective(1px) scale3d(1.1, 1.1, 1);
  transition: all 400ms;
}

.shuffle-item .project-img-container:hover img {
  transform: perspective(1px) scale3d(1.15, 1.15, 1);
}

.shuffle-item .project-img-container:after {
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  right: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 400ms;
}

.shuffle-item .project-img-container:hover:after {
  opacity: 1;
}

.shuffle-item .project-img-container .gallery-popup .gallery-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 5px 12px;
  background: #ffb600;
  color: #fff;
  opacity: 0;
  transform: perspective(1px) scale3d(0, 0, 0);
  transition: all 400ms;
}

.shuffle-item .project-img-container:hover .gallery-popup .gallery-icon {
  opacity: 1;
  transform: perspective(1px) scale3d(1, 1, 1);
}

.shuffle-item .project-img-container .project-item-info {
  position: absolute;
  top: 50%;
  margin-top: -10%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  z-index: 1;
}

.shuffle-item .project-img-container .project-item-info-content {
  opacity: 0;
  transform: perspective(1px) translate3d(0, 15px, 0);
  transition: all 400ms;
}

.shuffle-item .project-img-container .project-item-info-content .project-item-title {
  font-size: 20px;
}

.shuffle-item .project-img-container .project-item-info-content .project-item-title a {
  color: #fff;
}

.shuffle-item .project-img-container .project-item-info-content .project-item-title a:hover {
  color: #000000;
}

.shuffle-item .project-img-container .project-item-info-content .project-cat {
  background: #000000;
  display: inline-block;
  padding: 2px 8px;
  font-weight: 700;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
}

.shuffle-item .project-img-container:hover .project-item-info-content {
  opacity: 1;
  transform: perspective(1px) translate3d(0, 0, 0);
}

.general-btn .btn-primary:hover {
  background: #000;
}

/* Project owl */
.owl-theme.project-slide {
  margin-top: 60px;
}

.project-slide .item {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-item img {
  width: 80%;
  max-width: auto;
  transition: all 0.6s ease 0s;
}

.project-item:hover img {
  transform: scale(1.1, 1.1);
}

.project-item-content {
  position: absolute;
  bottom: -1px;
  padding: 15px 20px;
  width: 100%;
  background: #ffb600;
}

.owl-theme.project-slide .owl-nav>div {
  position: absolute;
  top: -70px;
  right: 0;
  transform: translateY(-50%);
}

.project-slide .owl-nav>div {
  display: inline-block;
  margin: 0 2px;
  font-size: 20px;
  background: #ffb600;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.owl-theme.project-slide .owl-nav>.owl-prev {
  right: 35px;
  left: auto;
}



/* Content area
================================================== */
/* Accordion */
.accordion-group .card {
  border-radius: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfdfdf !important;
}

.accordion-group .card-body {
  padding: 15px 20px;
}

.accordion-group .card-body img {
  max-width: 100px;
  margin-bottom: 10px;
}

.accordion-group .card-header .btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 13px 15px;
  padding-bottom: 10px;
}

.accordion-group .card-header .btn:before {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  z-index: 0;
  font-size: 14px;
  right: 16px;
  padding: 3px 8px 1px;
  text-align: center;
  border-radius: 3px;
  top: 12px;
  content: "\f107";
  font-weight: 700;
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

.accordion-group .card-header .btn[aria-expanded=true] {
  color: #ffb600;
}

.accordion-group .card-header .btn[aria-expanded=true]::before {
  content: "\f106";
  background-color: #ffb600;
}

.accordion-group.accordion-classic .card-header .btn:before {
  display: none;
}


/* spacing
 */

.portfolio-item {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: 5px 5px 5px 5px;
  overflow: hidden;
  border-radius: 0;
}


/* about us */

/*-- Team page --*/
.team-slide .slick-slide {
  margin-left: 25px;
  padding-bottom: 60px;
}

.team-slide .slick-list {
  margin-left: -25px;
}

.team-slide .carousel-control {
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 0;
  background-color: #ddd;
  height: 37px;
  width: 37px;
  border-radius: 4px;
  transition: 0.3s;
  z-index: 6;
}

.team-slide .carousel-control:hover {
  background-color: #ffb600;
  color: #fff;
}

.team-slide .carousel-control.left {
  transform: translateX(calc(-50% - 25px));
}

.team-slide .carousel-control.right {
  transform: translateX(calc(-50% + 25px));
}

.team-slide .carousel-control.slick-disabled {
  opacity: 0.4;
}

.team-slide .carousel-control.slick-disabled:hover {
  background-color: #ddd;
  color: #000;
}

.ts-team-wrapper {
  position: relative;
  overflow: hidden;
}

.ts-team-wrapper .ts-team-content {
  position: absolute;
  top: 76%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  margin-top: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: 350ms;
}

@media (max-width: 1200px) {
  .ts-team-wrapper .ts-team-content {
    top: 72%;
  }
}

@media (max-width: 575px) {
  .ts-team-wrapper .ts-team-content {
    text-align: center;
  }
}

.ts-team-wrapper .ts-name {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 3px;
  line-height: normal;
  color: #ffb600;
}

.ts-team-wrapper .ts-designation {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 700;
}

.ts-team-wrapper .team-social-icons a i {
  color: #fff;
  margin-right: 8px;
  text-align: center;
  transition: 400ms;
}

.ts-team-wrapper .team-social-icons a i:hover {
  color: #ffb600;
}

.ts-team-wrapper:hover .ts-team-content {
  top: 0;
  padding-top: 50px;
}

/* Team Classic */
.ts-team-content-classic {
  margin-top: 15px;
}

.ts-team-content-classic .ts-name {
  font-size: 16px;
  margin-bottom: 5px;
  color: #212121;
}

.ts-team-content-classic .ts-designation {
  color: #888;
  margin-bottom: 5px;
  font-weight: 600;
}

.ts-team-content-classic .team-social-icons a i {
  color: #999;
}

.ts-team-content-classic .team-social-icons a i:hover {
  color: #ffb600;
}



/* HERO SEDCTION */


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.carousel-inner .carousel-item {
  transition: transform 2s ease;
}

.h1-carousel {
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(2, 15, 19, 0.7);
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  /*transition: 0.4s;*/
}

.carousel-caption {
  top: 40%;
}

.caption-top {
  position: relative;
  /*absolute*/
  top: 0;
  /*<= added*/
  opacity: 1;
  transition: .4s;
}

.caption-top.hidden {
  top: -90vh;
  /*0*/
  opacity: 0;
  transition: .4s;
}

.caption-bottom {
  position: relative;
  bottom: 4vh;
  opacity: 1;
  transition: .4s;
}

.caption-bottom.hidden {
  bottom: -90vh;
  opacity: 0;
  transition: .4s;
}

/* Logo main */

.logo-main {
  width: 100%;
}

@media (min-width: 301px) and (max-width: 600px) {
  .logo-main {
    width: 70%;
  }
}


/* Hide-Title */
 /* Social Media Icons */

 .ti {
  padding: 17px;
  font-size: 20px;
  width: 30px;
  /* height: 50px; */
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
}

.ti:hover {
  opacity: 0.7;
}

.ti-linkedin {
  background: #007bb5;
  color: white;
}

.ti-facebook {
  background: #0154cf;
  color: white;
}

.ti-whatsapp {
  background: #05dd05;
  color: white;
}

.whatsapp {
  background: #1fb61f;
  color: white;
}

.ti-instagram {
  background: #c84470;
  color: white;
}





/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
  border-radius: 20px;
}

.clients img {
  max-width: 105%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 100%;
  }
}

.bg-clients{
  background-color: #bab76cc4;
}